<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Territor.io</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js" charset="utf-8"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.js" charset="utf-8"></script>
	<script src="/game/libs/perlin.js" charset="utf-8"></script>
	<script src="/game/camera.js" charset="utf-8"></script>
	<script src="/game/world.js" charset="utf-8"></script>
	<script src="/game/territory.js" charset="utf-8"></script>
	<script src="/game/game.js" charset="utf-8"></script>
</head>
<body>

</body>
</html>
