<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
</head>
<body>
    <h1>Stats</h1>
    <p>These statistics are from the current instance and do not automatically update.</p>
    <p>Lobbies: <%= lobbies %><br />Players: <%= players %></p>
</body>
</html>
